@import '../Utils/_helpers.scss';

body {
  background: #E5E5E5;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Pomodoro-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  @media (min-width: $breakpoint-desktop) {
    height: 568px;
    width: 320px;
  }
}

#toggle-settings {
  display: block;
  position: absolute;
  width: 22px;
  top: 10px;
  right: 10px;
  padding: 0;
  z-index: 2;
  background: transparent;
  border: none;
  font-size: 24px;

  &:hover {
    cursor: pointer;
  }
  
  &:focus{
    outline: none;
  }

  @media only screen and (min-width: $breakpoint-sm-tablet) and (max-width: $breakpoint-desktop)and (orientation: portrait) {
    width: 40px;
    font-size: 40px;
  }
}
.settings-icon {
  fill: #fff;
}

.slide-settings {
  transform: translate3d(100%, 0px, 0px);
  // box-shadow: -8px 0px 25px -10px rgba(0,0,0,1);

  @media (min-width: $breakpoint-desktop) {
    opacity: 0;
  }
}