@import '../../Utils/helpers';

.circle {
  // border: 2px solid #fff;
  background-color: transparent;
  width: 200px;
  height: 200px;
  border-radius: 1000px; 
  margin: 0.5em;

  @media only screen and (min-width: $breakpoint-sm-tablet) and (max-width: $breakpoint-desktop)and (orientation: portrait) {
    // width: 450px;
    // height: 450px;
  }
}

.circle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.text {
  font-size: em(14px);

  @media only screen and (min-width: $breakpoint-sm-tablet) and (max-width: $breakpoint-desktop)and (orientation: portrait) {
    // font-size: em(20px);
  }
  
}
.time {
  font-size: 36px;

  @media only screen and (min-width: $breakpoint-sm-tablet) and (max-width: $breakpoint-desktop)and (orientation: portrait) {
    // font-size: em(60px);
  }
}