@import '../../Utils/helpers';

.circle-cycle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: em(16px);
}

.circle-cycle {
  margin: em(8px);
  width: 16px;
  height: 16px;
  border-radius: 1000px; 
  background-color: #fff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.03);

  @media only screen and (min-width: $breakpoint-sm-tablet) and (max-width: $breakpoint-desktop)and (orientation: portrait) {
    width: 32px;
    height: 32px;
  }
}

// .circle-cycle:first-child {
//   background-color: #B6371D;
// }

.session-circle-active {
  background-color: #B6371D;
}

.break-circle-active {
  background-color: #59C8C6;
}

.cycle-slogan {
  text-align: center;
}

