@import '../../Utils/_helpers.scss';

#settings {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 80%;
  background-color: #fff;
  color: #000;
  // transition: 0.5s;
}

.settings-children {
  width: 100%;
  text-align: center;
}

.settings-manip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;

  button {
    padding: em(12px);
    font-size: 24px;
    border: none;

    &:focus {
      outline: none;
    }
  }
}

.reset-btn {
  font-size: calc(10px + 2vmin);
  color: #999999;
  border: none;
}
