@import '../../Utils/_helpers.scss';

#settings {
  position: fixed;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  width: 80%;
  height: 100%;
  background-color: #fff;
  color: #000;
  transition: all 0.4s ease 0s;
  box-shadow: rgb(0, 0, 0) -8px 0px 25px -10px;
  
  @media (min-width: $breakpoint-desktop) {
    width: 30%;
  }
}

.settings-children {
  padding-top: 16px;
  width: 100%;
  text-align: center;
}

.settings-manip {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-top: 16px;

  button {
    padding: em(12px);
    font-size: 32px;
    border: none;

    &:focus {
      outline: none;
    }
  }
}

.reset-btn {
  font-size: calc(10px + 2vmin);
  color: #999999;
  border: none;
}
